/Pointstar.Site/bin
/Pointstar.Site/obj
/Pointstar.Core.WebControls/bin
/Pointstar.Core.WebControls/obj
/Pointstar.Standard.Common/bin
/Pointstar.Standard.Common/obj
/Pointstar.Tests/bin
/Pointstar.Tests/obj
/Pointstar.Core.Data/bin
/Pointstar.Core.Data/obj
/PointstarWebSite.Library/bin
/PointstarWebSite.Library/obj
/Pointstar.Core.BusinessLogic/bin
/Pointstar.Core.BusinessLogic/obj
/.vs
